	* {
		margin: 0px;
		padding: 0px;
	}

	/* Navigation menu rules */

	ul {
		list-style-type: none;
		font-size: 11px;
	}
	
	#navmenu {
		position: relative;
		width: 1020px;
		margin-top: 0;
		padding: 20px;
		padding-left: 75px;
		margin: auto auto;
		height: 80px;
	}
	
	ul#navmenu li {
		width: 185px;
		text-align: center;
		position: relative;
		float: left;
		margin-right: 4px;
	}

	ul#navmenu a {
		color: 4A708B;
		text-decoration: none;
		display: block;
		width: 150px;
		height: 25px;
		line-height: 25px;
		background-color: #FFF;
		border: 1px solid #CCC;
		border-radius: 5px;
	}
	
	ul#navmenu .sub1 a {
		margin-top: 3px;
	}
	
	ul#navmenu .sub2 a {
		margin-left: 8px;
	}
	
	ul#navmenu li:hover > a {
		background-color: #B9D3EE;
	}
	
	ul#navmenu ul.sub1 {
		display: none;
		position: absolute;
		top: 26 px;
		left: 0px;
	}
	
	ul#navmenu ul.sub2 {
		display: none;
		position: absolute;
		top: 0px;
		left: 150px;
	}
	
	ul#navmenu li:hover .sub1 {
		display: block;
	}
	
	ul#navmenu .sub1 li:hover .sub2 {
		display: block;
	}
	
	.darrow {
		font-size: 7pt;
		position: absolute;
		top: 6px;
		right: 40px;
		color: #ABC;
	}
	
	.rarrow {
		font-size: 7pt;
		position: absolute;
		top: 9px;
		right: 40px;
		color: #ABC;
	}
	
	ul#navmenu input[type="text"] {
		float:left;
		font-family: Arial, san-serif;
		margin-top: 3px;
		height: 22px;
		width: 200px;
		border-style: ridge;
	}
	
	ul#navmenu input[type="submit"] {
		float: right;
		position: relative;
		margin: auto auto;
		height: 22px;
		color: #4A708B;
		width: 65px;
		cursor: pointer;
		font-weight: bold;
		line-height: 1;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-box-shadow: 0 1px 3px #999;
		-webkit-box-shadow: 0 1px 3px #999;
		border-bottom: 1px solid #222;
	}